
.page_title{
    text-align: center;
    margin: 20px 0 -13px 0;
    font-weight: 300;
}

hr{
    width: 200px;
    color: #ffe4c1;
}


.div_ul{
    display: block;
    text-align: left;
    padding: 0 0 0 25px;
}




.ul_auctions{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding: 5px;
    width: 250px;
}


.div_auctions{
    border: solid 1px rgb(231, 231, 231);
    border-radius: 10px;
}


.sold_message{
    position: absolute;
    width: 240px;
    padding: 6px 0 6px 0;
    background-color: rgba(255, 87, 87, 0.904);
    border-radius: 10px 10px 0 0;
}


.buy_message{
    position: absolute;
    width: 240px;
    padding: 6px 0 6px 0;
    background-color: rgba(87, 255, 109, 0.904);
    border-radius: 10px 10px 0 0;
}

.auctions_image{
    display: inline;
    width: 190px;
    height: 260px;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}

.title_auction{
    font-weight: 300;
    font-size: 20px;
    padding: 2px 0 0 10px;
    color: rgb(32, 32, 32);
}


.li_auctions{
    display: inline-block;
}


.li_auctions:hover{
    box-shadow: 2px 2px 20px rgb(202, 202, 202);
    border-radius: 10px;
}


.price{
    text-align: left;
    margin: -10px 0 0 0;
    padding: 15px 0 5px 10px;
    color: rgb(121, 113, 113);
    font-size: 20px;
}


.price span{
    font-size: 22px;
}


.description{
    text-align: left;
    padding: 10px;
}
